<header id="header">
    <div class="d-flex flex-column">

      <div class="profile" style="margin-top: 20px;">

        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
             <div class="w-100 border-radius-lg shadow-sm" *ngIf="image" style="position: absolute;" ><img src="../../../assets/images/{{ image }} "style="border-radius: 20%;
              margin-left: 15px;" alt=""></div>
               <div class="w-100 border-radius-lg shadow-sm" *ngIf="!image" style=" position: absolute;
               height: 50px;
               width:50px;
               border-radius: 15%;
                color: white;
               text-align: center;
               line-height: 50px;
               font-size: 30px;
               margin-left: 20px;
               "  [ngStyle]="{'background-color':color}">{{ first_Name[0] |uppercase }}{{ last_Name[0] |uppercase}}</div>



            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100" style="margin-left: 30px;">
              <h5 class="mb-1" style="position: absolute; margin-left: 50px; margin-top: 17px; font-size: 16px; color: white;">
                {{ first_Name | uppercase }} {{ last_Name |uppercase}}
              </h5>
              <p class="mb-0 font-weight-bold text-sm" style="margin-left: 52px; margin-top: 33px; position: absolute;">
                Trainer
              </p>
            </div>
          </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul style="margin-top: 60px;">
          <li><a (click)="GoToHome()" class="nav-link scrollto active"><i class="bx bx-home"></i> <i class="bi bi-house"></i> <span>Home</span></a></li>
          <li><a (click)="UpdateProfile()" class="nav-link scrollto"><i class="bx bx-envelope"></i> <i class="bi bi-person"></i> <span>Update Profile</span></a></li>
          <li><a (click)="Logout()" class="nav-link scrollto"><i class="bx bx-envelope"></i> <i class="bi bi-box-arrow-left"></i> <span>Logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header>
