/* .ftco-section{
  background-image: url(../../../assets/login/images/bg.jpg) ;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  height: 100vh;

}

.signin-form{

  /* background-color : rgba(0, 0, 0, 0.1);
  border-radius: 2%;

}
.form-control{
  background-color : rgba(0, 0, 0, 0.2);
} */


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/* .wrap-input100{
margin-top: 20px;
margin-bottom: 20px;
} */

.login100-form-title {
  padding-bottom: 0;
}

.mat-form-field{
  margin-bottom: 25px;
  width: 390px;
    font-size: large;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.wrap-login100
{
width: 450px;
padding-left: 50px;
padding-right: 50px;
}

 .mat-form-field-underline {
  bottom: 2.25em;
}
