<!-- <p>course-page works!</p>
<p>{{generalServise.retreavedCourse.id}}</p> -->



 

<app-navbar></app-navbar>




<section class="section">
    <div class="container">
        <div class=" ">




            <div class="related-products">
                <div class="text-widget">
                    <h3>Courses</h3>
                </div><!-- end title -->        

                <div class="row blog-grid shop-grid">
                   
                    <div class="row">
                        <app-courses *ngFor="let course of generalService.coursesbycategory" [coursE_NAME]="course.coursE_NAME"
                        [description]="course.description" [image]="course.image" [id]="course.id"></app-courses>
                    </div>
   
 
                </div><!-- end row -->
            </div><!-- end related -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>

<app-footer></app-footer>

