 <app-navbar></app-navbar>
        <section class="section">
            <div class="container">
                <div class=" ">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="shop-desc">
                                <h1>About Us</h1>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis consequat condimentum. In a tincidunt purus. Curabitur facilisis luctus aliquet. Aenean a cursus erat, sit amet interdum arcu. Mauris aliquam magna turpis, lobortis pellentesque velit elementum et. Nulla scelerisque a lorem nec posuere. Nunc convallis posuere tincidunt. Pellentesque a aliquet odio. Integer euismod, enim id lacinia auctor, tortor turpis malesuada enim, in semper turpis magna quis enim.</p>

                            </div><!-- end desc -->
                        </div><!-- end col -->
                    </div><!-- end row -->


                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>
<app-footer></app-footer>


