

       
                <div  class="caro-item" >
                    <div class="course-box">
                        <div class="image-wrap entry">
                            <img src="../../assets/assets_template/upload/course_02.jpg" alt="" class="img-responsive">
                            <div class="magnifier">
                                <a href="#" title=""><i class="flaticon-add"></i></a>
                            </div>
                        </div><!-- end image-wrap -->
                        <div class="course-details">
                            <h4>
                                <small>Design</small>
                                <a href="#" title="">{{coursE_NAME}}</a>
                            </h4>
                            <p>{{description}} </p>
                        </div><!-- end details -->
                        <div class="course-footer clearfix">
                            <div class="pull-left">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-user"></i> 41</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i> 33 Min.</a></li>
                                </ul>
                            </div><!-- end left -->

                            <div class="pull-right">
                                <ul class="list-inline">
                                    <li><a href="#">$55.00</a></li>
                                </ul>
                            </div><!-- end left -->
                        </div><!-- end footer -->
                    </div><!-- end box -->
                
           </div>
            
