


  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <i class="bi bi-list mobile-nav-toggle d-xl-none"></i> -->

  <!-- ======= Header ======= -->

        <!-- <img src="../../../assets/assets_teacher/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle"> -->
        <app-bar [first_Name]="teacherService.userbyid.first_Name" [last_Name]="teacherService.userbyid.last_Name" [image]="teacherService.userbyid.image"></app-bar>
        <!-- <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div> -->
     
  <!-- ======= Hero Section ======= -->

 

  