
<div style="height: 20px;"></div>
<div class="container">

    <div class="row">

        <div class="col-md-2">
          <app-bar [first_Name]="adminService.userbyid.first_Name" [last_Name]="adminService.userbyid.last_Name" [image]="adminService.userbyid.image" [color]="this.adminService.color"></app-bar>
        </div>

        
            <div class="col-md-10">
                
                    <!-- <div class="row">
                      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                          <div class="card-body p-3">
                            <div class="row">
                              <div class="col-8">
                                <div class="numbers">
                                  <p class="text-sm mb-0  font-weight-bold">Admin User</p>
                                  <h5 class="font-weight-bolder">
                                    {{authService.adminuser.length }}
                                  </h5>
                                  <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">User</span>
              
                                  </p>
                                </div>
                              </div>
                              <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                  <i class="bi bi-person-gear"aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                          <div class="card-body p-3">
                            <div class="row">
                              <div class="col-8">
                                <div class="numbers">
                                  <p class="text-sm mb-0  font-weight-bold">Teacher User</p>
                                  <h5 class="font-weight-bolder">
                                    {{authService.teacheruser.length }}
                                  </h5>
                                  <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">User</span>
              
                                  </p>
                                </div>
                              </div>
                              <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                  <i class="bi bi-person-vcard"aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                          <div class="card-body p-3">
                            <div class="row">
                              <div class="col-8">
                                <div class="numbers">
                                  <p class="text-sm mb-0  font-weight-bold">Student User</p>
                                  <h5 class="font-weight-bolder">
                                    {{authService.studentuser.length }}
                                  </h5>
                                  <p class="mb-0">
                                    <span class="text-danger text-sm font-weight-bolder">User</span>
              
                                  </p>
                                </div>
                              </div>
                              <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                  <i class="bi bi-person-workspace" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6">
                        <div class="card">
                          <div class="card-body p-3">
                            <div class="row">
                              <div class="col-8">
                                <div class="numbers">
                                  <p class="text-sm mb-0  font-weight-bold">Course</p>
                                  <h5 class="font-weight-bolder">
                                    {{generalService.allCourses.length }}
                                  </h5>
                                  <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">Course</span>
                                  </p>
                                </div>
                              </div>
                              <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                  <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="row mt-4">
              
                      <div style="height: 450px;" class="col-lg-6 mb-lg-0 mb-4">
                        <div class="card z-index-2 h-100">
                          <div class="card-header pb-0 pt-3 bg-transparent">
                            <h6 class="text-capitalize">Reservations</h6>
                          
                          </div>
                        
                            <div class="chart" style=" height:350px ; width:350px; margin-left: 13%;">
                              
                                
                                  <canvas #pieCanvasTrainer ></canvas>
                                  
                              
                              
                            </div>
                        
                        </div>
                      </div>
              
                      <div style="height: 450px;" class="col-lg-6 mb-lg-0 mb-4">
                        <div class="card z-index-2 h-100">
                          <div class="card-header pb-0 pt-3 bg-transparent">
                            <h6 class="text-capitalize">Students for each course</h6>
                          
                          </div>
                        
                            <div class="chart" style="height: 100%;">
                              
                                
                                  <canvas #barCanvasCourseStudent style="height:80%; width:90%"></canvas>
                                
                              
                              
                            </div>
                        
                        </div>
                      </div>
              
                    </div>
              
                   
                  
            </div>
      
   </div>


</div>