<div style="height: 20px;"></div>
<div class="container">

    <div class="row">

        <div class="col-md-1">
            <app-bar [first_Name]="adminService.userbyid.first_Name" [last_Name]="adminService.userbyid.last_Name" [image]="adminService.userbyid.image" [color]="this.adminService.color"></app-bar>
        </div>






        <div class="col-11" style="margin-left: 180px; ">
             <div class="card col-md-3" style=" margin-bottom: 30px; margin-right: 30px; padding-bottom: 30px;" *ngIf="showSearch">
                <div class="d-flex justify-content-between">
                    <h6 class="customtabletitle">Search</h6>

                </div>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="bi bi-person-bounding-box"></i>
                        </mat-panel-title>
                        <mat-panel-description>
                          Search By Name
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <label for="">Name</label>
                      <input type="text" (keyup)="search($event)" placeholder="Enter Name" class="form-control">
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="bi bi-calendar-month"></i>
                        </mat-panel-title>
                        <mat-panel-description>
                          Search by period
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <label>date range</label>
  <mat-date-range-input [formGroup]="range" class="form-control"  [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date -">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <button class="btn btn-primary" style="height: 30px;
  margin-left: 123px;
  margin-top: 20px;
  line-height: 0px;" (click)="searchPeriod()">Search</button>

  <mat-datepicker-toggle style="    position: absolute;
  top: 91px;
  right: 23px;" matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-expansion-panel>
                    <div *ngIf="showclear"style='cursor: pointer;' (click)="clear()">Clear Filter</div>
                  </mat-accordion>
            </div>

                <div class="col mb-lg-11 mb-11" >
                <div class="card ">
                    <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="customtabletitle">Reservation Requests</h6><i class="bi bi-funnel" (click)="showsearch()"></i>

                    </div>
                    </div>
                    <div class="table-responsive" style="margin-top:15px" >
                    <table class="table align-items-center ">
                        <thead>
                            <tr>
                              <th>
                                User
                            </th>

                                <th>
                                    Start Date
                                </th>


                                <th>
                                    End Date
                                </th>
                                <th>
                                  Course Name
                              </th>
                              <th>
                                Rating
                              </th>

                                <th>
                                    Manage
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of filteredreservation">
                          <td class="w-30" >
                            <div class="d-flex px-2 py-1 align-items-center">

                                <div class="ms-4">

                                <h6 class="text-sm mb-0">{{ item.first_Name  }} {{ item.last_Name  }}</h6>
                                </div>
                            </div>
                            </td>

                            <td class="w-30" >
                            <div class="d-flex px-2 py-1 align-items-center">

                                <div class="ms-4">

                                <h6 class="text-sm mb-0">{{ item.start_Date |date:'medium' }}</h6>
                                </div>
                            </div>
                            </td>

                            <td class="w-30" >
                                <div class="d-flex px-2 py-1 align-items-center">

                                    <div class="ms-4">

                                    <h6 class="text-sm mb-0">{{ item.end_Date |date:'medium' }}</h6>
                                    </div>
                                </div>
                                </td>
                                <td class="w-30" >
                                  <div class="d-flex px-2 py-1 align-items-center">

                                      <div class="ms-4">

                                      <h6 class="text-sm mb-0">{{ item.coursE_NAME }}</h6>
                                      </div>
                                  </div>
                                  </td>
                                  
                                  <td *ngIf="item.review!=null&&item.status==1">

                                    <rating  style="color: #dfc300;
                                    font-size: 25px;" [ngModel]="item.review"  [readonly]="true">
                                    </rating>


                                  </td>
                                  <td *ngIf="item.review==null&&item.status==1">
                                   <div> Waitng Review</div>
                                  </td>
                                  <td *ngIf="item.status!=1">
                                    <div> </div>
                                   </td>


                                <td   *ngIf="item.status==null">
                                  <i  class="bi bi-check-square text-success" style="margin-right: 15px; cursor: pointer; font-size: x-large; " (click)="openAcceptDailog(item)"></i>  <i class="bi bi-x-square text-danger" style=" cursor: pointer;  font-size: x-large;" (click)="openRejectDailog(item)"></i>
                                </td>
                                <td *ngIf="item.status==1">Accept</td>
                                <td *ngIf="item.status==0">Reject</td>

                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>


<ng-template #callAcceptDailog>
  <h5>Are you sure you want to Accept Trainer ? </h5>
  <br>
  <div class="form-actions">
    <button mat-dialog-close="no" type="reset" class="btn btn-warning mr-1">
        <i class="feather icon-x"></i> Cancel
    </button>
    <button  mat-dialog-close="yes"  style="margin-left:20px" type="submit" class="btn btn-primary">
        <i class="fa fa-check-square-o"></i> Save
    </button>
  </div>

  </ng-template>
  <ng-template #callRejectDailog>
    <h5>Are you sure you want to Reject Trainer ? </h5>
    <br>
    <div class="form-actions">
      <button mat-dialog-close="no" type="reset" class="btn btn-warning mr-1">
          <i class="feather icon-x"></i> Cancel
      </button>
      <button  mat-dialog-close="yes"  style="margin-left:20px" type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Save
      </button>
    </div>

    </ng-template>



