<section class="ftco-section" style="
background-image: url('../assets/login_assets/images/blue.jpg');
background-position: center;
background-repeat: no-repeat;

background-size: cover;">
 <div class="container">

     <div class="row justify-content-center">
      <div class="col-6">
        <div>

          <button (click)="sendWithEmail()"><i class="bi bi-envelope-check"></i></button>
        </div>
      </div>
      <div class="col-6">
        <div>

          <button (click)="sendWithWhatsapp()"><i class="bi bi-whatsapp"></i></button>
        </div>
      </div>
     </div>
 </div>
 </section>
