
<app-navbar  [first_Name]="studentService.userbyid.first_Name" [last_Name]="studentService.userbyid.last_Name" [image]="studentService.userbyid.image"></app-navbar>
<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-left">
            <div class="card card-profile" >
                <img style="width:200px ; height: 200px; margin: 35px;" *ngIf="studentService.userbyid.image==null" src="../../../assets/admin_assests/assets/img/l60Hf.png" alt="Image placeholder" >
                <img style="width:200px ; height: 200px; margin: 35px;" *ngIf="studentService.userbyid.image!=null" src="../../../assets/images/{{studentService.userbyid.image}}" alt="Image placeholder" >
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
               
                <form class="form" [formGroup]="updateForm" style="margin: 50px;">
                <div class="row mt-2">
                    <div class="col-md-6"><input matInput formControlName="first_Name" [(ngModel)]="userData.first_Name" type="text" class="form-control" placeholder="first name"></div>
                    <div class="col-md-6"><input matInput formControlName="last_Name" [(ngModel)]="userData.last_Name" type="text" class="form-control" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input matInput formControlName="email" [(ngModel)]="loginData.email" type="email" class="form-control" placeholder="Email" ></div>
                    <div class="col-md-6"><input matInput formControlName="phone_Number" [(ngModel)]="userData.phone_Number" type="text" class="form-control" placeholder="Phone number"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input  matInput formControlName="birth_Date" (ngModelChange)="userData.birth_Date" [ngModel]="userData.birth_Date |date" type="text" class="form-control" placeholder="Birth Date"></div>
                    <div class="col-md-6"><input matInput formControlName="image" [(ngModel)]='userData.image'   #file  (change)="UploadFile(file.files)" type="file" class="form-control"  placeholder="Upload Image"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input (keyup)="Changepass($event)" type="text" class="form-control"  placeholder="Old Password"></div>
                    <div [ngStyle]="{'pointer-events': !changepass ? 'none':''}" class="col-md-6" ><input matInput formControlName="password" type="text" class="form-control" placeholder="New Password"></div>
                </div>
                <div class="mt-5 text-right"><button (click)="UpdateProfile()" class="btn btn-primary profile-button" >Save Profile</button></div>
            </form>
            </div>
        </div>
    </div>
</div>
