<div style="height: 20px;"></div>
<div class="container">

    <div class="row">

        <div class="col-md-1">
            <app-bar [first_Name]="adminService.userbyid.first_Name" [last_Name]="adminService.userbyid.last_Name" [image]="adminService.userbyid.image" [color]="this.adminService.color"></app-bar>
        </div>

        <div class="col-md-11">
            <div >
                <div class="col-lg-11 mb-lg-11 mb-11" style="margin-left: 50px;">
                <div class="card ">
                    <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="customtabletitle">Select Cource </h6>
                        <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                            <i class="bi bi-file-plus" (click)="OpenCreateDialouge()"></i>
                        </div>
                    </div>
                    </div>
                    <div class="table-responsive" style="margin-top:15px" >
                    <table class="table align-items-center ">
                        <thead>
                            <tr>
                                <th>
                                    Course Name
                                </th>


                                <th>
                                    Course Description
                                </th>

                                <th>
                                    Manage
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of teacherService.Courses">
                            <td class="w-30" >
                            <div class="d-flex px-2 py-1 align-items-center">

                                <div class="ms-4">

                                <h6 class="text-sm mb-0">{{ item.coursE_NAME  }}</h6>
                                </div>
                            </div>
                            </td>

                            <td class="w-30" >
                                <div class="d-flex px-2 py-1 align-items-center">

                                    <div class="ms-4">

                                    <h6 class="text-sm mb-0">{{ item.description }}</h6>
                                    </div>
                                </div>
                                </td>

                                <td>
                                <!-- <i class="bi bi-pencil-square" style="margin-right: 15px; cursor: pointer;" (click)="openUpdateDailog(item)"></i>   -->
                                <i class="bi bi-trash3" style=" cursor: pointer;" (click)="openDeleteDailog(item.id)"></i>
                                </td>

                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>

</div>


<ng-template #CreateTimeDialoug >


    <div class="card" >

        <div class="card-content collapse show">
            <div class="card-body">


                <h3>Add Secion</h3>
                <form class="form" [formGroup]="createForm">
                    <div class="form-body">

                        <div class="form-group">
                            <label for="issueinput1">Start Date</label>
                            <input type="datetime-local" matInput formControlName="start_Date"   id="issueinput1" class="form-control" placeholder="issue title"  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Issue Title">
                            <mat-error *ngIf="createForm.controls['start_Date'].hasError('required')" >  </mat-error>
                        </div>



                        <div class="row">

                        </div>


                        <div class="form-group">
                            <label for="issueinput8">End Date</label>
                            <input type="datetime-local" matInput formControlName="end_Date"   id="issueinput8" rows="5" class="form-control"  placeholder="comments" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Comments">
                            <mat-error *ngIf="createForm.controls['end_Date'].hasError('required')" >  </mat-error>
                        </div>

                    </div>

                    <div class="form-actions">
                        <button mat-dialog-close type="reset" class="btn btn-warning mr-1">
                            <i class="feather icon-x"></i> Cancel
                        </button>
                        <button  [mat-dialog-close]="true" (click)="SaveData()" style="margin-left:20px" type="submit" class="btn btn-primary">
                            <i class="fa fa-check-square-o"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</ng-template>


<ng-template #DeleteDailog>
    <h5>Are you sure you want to delete this item ? </h5>
    <br>
    <div class="form-actions">
      <button mat-dialog-close="no" type="reset" class="btn btn-warning mr-1">
          <i class="feather icon-x"></i> Cancel
      </button>
      <button  mat-dialog-close="yes"  style="margin-left:20px" type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Save
      </button>
    </div>

    </ng-template>

