<div class="min-height-300 bg-primary position-absolute w-100"></div>

<aside [ngStyle]="{'display': unvisible?'none':'block'}" class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <app-side-nav></app-side-nav>
   </aside>

<main class="main-content position-relative border-radius-lg ">
   <app-admin-navbar ></app-admin-navbar>

   <div class="row mt-4">
        <div class="col-lg-11 mb-lg-11 mb-11" style="margin-left: 50px;">
        <div class="card ">
            <div class="card-header pb-0 p-3">
            <div class="d-flex justify-content-between">
                <h6 class="customtabletitle">Testimonial </h6>

            </div>
            </div>
            <div class="table-responsive" style="margin-top:15px" >
            <table class="table align-items-center ">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>


                        <th>
                            Message
                        </th>

                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of adminService.allTestimonial">
                    <td class="w-30" >
                    <div class="d-flex px-2 py-1 align-items-center">

                        <div class="ms-4">

                        <h6 class="text-sm mb-0">{{ item.first_Name  }} {{ item.last_Name }}</h6>
                        </div>

                        <div class="ms-4">

                          <img style="width:50px ; height: 50px; border-radius: 50%;" alt="image" src="../../../assets/images/{{ item.image }}">
                        </div>
                    </div>
                    </td>

                      <td class="w-30" >
                        <div class="d-flex px-2 py-1 align-items-center">

                            <div class="ms-4">

                              <h6 class="text-sm mb-0">{{ item.text  }}</h6>
                            </div>
                        </div>
                        </td>
                        <td >
                          <i class="bi bi-pencil-square" style="margin-right: 15px; cursor: pointer;" (click)="openAcceptDailog(item)"></i>  <i class="bi bi-trash3" style=" cursor: pointer;" (click)="openRejectDailog(item)"></i>
                        </td>
                        <!-- <td *ngIf="item.status==1">Accept</td>
                        <td *ngIf="item.status==0">Reject</td> -->

                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</main>






<ng-template #callAcceptDailog>
<h5>Are you sure you want to Accept this testimonial ? </h5>
<br>
<div class="form-actions">
  <button mat-dialog-close="no" type="reset" class="btn btn-warning mr-1">
      <i class="feather icon-x"></i> Cancel
  </button>
  <button  mat-dialog-close="yes"  style="margin-left:20px" type="submit" class="btn btn-primary">
      <i class="fa fa-check-square-o"></i> Save
  </button>
</div>

</ng-template>
<ng-template #callRejectDailog>
  <h5>Are you sure you want to Reject this testimonial ? </h5>
  <br>
  <div class="form-actions">
    <button mat-dialog-close="no" type="reset" class="btn btn-warning mr-1">
        <i class="feather icon-x"></i> Cancel
    </button>
    <button  mat-dialog-close="yes"  style="margin-left:20px" type="submit" class="btn btn-primary">
        <i class="fa fa-check-square-o"></i> Save
    </button>
  </div>

  </ng-template>

